@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-arrow{
    background: #b1a6a6 !important;
    height: 35px !important;
    width: 35px !important;
    border-radius: 100px;
    z-index: 5;
}
.slick-arrow:hover{
    background: #0073E6 !important;
    height: 40px !important;
    width: 40px !important;
}

.sidenavClose {
    height: 100%;
    width: 55px;
    position:fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #141518;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 80px;
}

.sidenavOpen {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #141518;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 80px;
}

.main-overlay-open{
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.main-overlay-close{
    z-index: 8;
    display: none;
}
.NavItem{
    color:white !important;
}
.NavItem:hover{
    color:#61DAFB !important;
    text-decoration: none;
    font-size: 18px;
}
